%p#notice= notice

%p
  %strong Title:
  = @course.title
  %br

  %strong Groups:
  - @course.groups.each do |group|
    =group.name
    %br

  %strong Users:
  - @course.users.each do |user|
    =user.email


= link_to 'Edit', edit_course_path(@course)
|
= link_to 'Back', courses_path

